<h1>Hello Callbacks!</h1>

<p id="first">You say goodbye,</p>
<p id="second">And I say hello!</p>
<p id="third">Hello, hello!</p>
<p id="fourth">I don't know why you say goodbye, I say hello!</p>
<button onclick="changeColors()">Hello, hello!</button>
