<h1>Community Gardens</h1>
<!-- <button type="button" onclick="filterByBrooklyn()">Find Gardens in Brooklyn</button> -->

<button type="button" onclick="getData()">Get Data!</button>
<div id="gardens"></div>
