<h2>A long time ago, in a galaxy far, far away...</h2>
<ul>
  <li><%= @starwar["character"] %></li>
  <li><%= @starwar["droid"] %></li>
  <li><%= @starwar["planet"] %></li>
  <li><%= @starwar["quote"] %></li>  
</ul>
