<h1>What interesting people!</h1>
<div ng-app="app">
  <div ng-controller="pplCtlr">
    <div ng-repeat="person in people">
      <ul>
        <li ng-click="toggleBio(person)"><h3>{{ person.name }}</h3>
          <ul>
            <li ng-if="person.bioVisible">{{ person.bio }}</li>
          </ul>
        </li>
      </ul>
    <input type="text" ng-model="newPerson">
    <br>
    <input type="text" ng-model="newBio">
    <br>
    <button ng-click="addPerson(newPerson, newBio)"> Add Person! </button>
    <h2>Number of people: {{ counter }}</h2>
    </div>
  </div>
</div>
